html,body {
    font-family:'Open Sans',sans-serif;
    color:#000;
    margin:0;
    padding:0;
    height:100%;
    font-size:14px;
    background:#fff;
    padding-top:50px;
}

a {
    color:#000;
}

a:hover {
    color:#8C8C8C;
    text-decoration:none;
}

hr {
    border-color:#EDEDED;
    margin-top:10px;
    margin-bottom:10px;
}

.navbar-gravatar {
    margin-top:-7px;
    margin-bottom:-7px;
}

.navbar-gravatar img {
    margin-right:5px;
    border-radius:50%;
}

.navbar-brand {
    float:left;
    height:50px;
    padding:15px;
    font-size:18px;
    line-height:20px;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand,.navbar > .container-fluid .navbar-brand {
        margin-left:-15px;
        border-right:1px solid #EDEDED;
    }
}

.navbar {
    margin-bottom:0;
    border:none;
}

@media (min-width: 768px) {
    .navbar {
        border-radius:0;
    }
}

.navbar-default {
    padding-top:5px;
    padding-bottom:5px;
    background-color:#fff;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.3);
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.navbar-default .navbar-brand {
    color:#D63030;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus {
    color:#000;
    background-color:transparent;
}

.navbar-default .navbar-text {
    color:#8C8C8C;
}

.navbar-default .navbar-nav > li > a {
    color:#8C8C8C;
}

.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus {
    color:#000;
    background-color:transparent;
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus {
    color:#8C8C8C;
    background-color:transparent;
}

.navbar-default .navbar-nav > .disabled > a,.navbar-default .navbar-nav > .disabled > a:hover,.navbar-default .navbar-nav > .disabled > a:focus {
    color:#ccc;
    background-color:transparent;
}

.navbar-toggle {
    position:relative;
    float:right;
    padding:0;
    margin-top:5px;
    margin-right:15px;
    margin-bottom:5px;
    background-color:transparent;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px;
}

.navbar-default .navbar-toggle {
    border-color:transparent;
    color:#8C8C8C;
    border-radius:4px;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
    background-color:#EDEDED;
    color:#8C8C8C;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:#EDEDED;
}

.navbar-default .navbar-collapse,.navbar-default .navbar-form {
    border-color:#EDEDED;
}

.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus {
    color:#333;
    background-color:transparent;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color:#000;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color:#000;
        background-color:#EDEDED;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color:#8C8C8C;
        background-color:#EDEDED;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color:#ccc;
        background-color:transparent;
    }
}

.navbar-default .navbar-link {
    color:#777;
}

.navbar-default .navbar-link:hover {
    color:#333;
}

.navbar-default .btn-link {
    color:#777;
}

.navbar-default .btn-link:hover,.navbar-default .btn-link:focus {
    color:#333;
}

.dropdown-menu {
    position:absolute;
    top:100%;
    left:0;
    z-index:1000;
    display:none;
    float:left;
    min-width:160px;
    padding:5px 0;
    margin:2px 0 0;
    font-size:14px;
    text-align:left;
    list-style:none;
    background-color:#fff;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border:1px solid rgba(0,0,0,.15);
    border:1px solid #EDEDED;
    border-radius:4px;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.dropdown-menu.pull-right {
    right:0;
    left:auto;
}

.dropdown-menu .divider {
    height:1px;
    margin:9px 0;
    overflow:hidden;
    background-color:#EDEDED;
}

.dropdown-menu > li > a {
    display:block;
    padding:5px 20px;
    clear:both;
    font-weight:400;
    line-height:1.42857143;
    color:#000;
    white-space:nowrap;
}

.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus {
    color:#000;
    text-decoration:none;
    background-color:#EDEDED;
}

.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus {
    color:#000;
    text-decoration:none;
    background-color:#EDEDED;
    outline:0;
}

@media (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display:block;
    }
}

.btn {
    font-size:14px;
}

.btn-sm {
    font-size:12px;
}

.btn-lg {
    font-size:16px;
}

.btn-success,.btn-success:focus,.btn-success.focus,.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success:active:hover,.btn-success.active:hover,.open > .dropdown-toggle.btn-success:hover,.btn-success:active:focus,.btn-success.active:focus,.open > .dropdown-toggle.btn-success:focus,.btn-success:active.focus,.btn-success.active.focus,.open > .dropdown-toggle.btn-success.focus {
    font-weight:400;
    border-radius:4px;
    color:#fff;
    cursor:pointer;
    background:#20935A;
    border:1px solid #20935A;
}

.btn-success:hover {
    color:#fff;
    background:#4CA87B;
    border:1px solid #4CA87B;
}

.btn-primary,.btn-primary:focus,.btn-primary.focus,.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary:active:hover,.btn-primary.active:hover,.open > .dropdown-toggle.btn-primary:hover,.btn-primary:active:focus,.btn-primary.active:focus,.open > .dropdown-toggle.btn-primary:focus,.btn-primary:active.focus,.btn-primary.active.focus,.open > .dropdown-toggle.btn-primary.focus {
    font-weight:400;
    border-radius:4px;
    color:#fff;
    cursor:pointer;
    background:#4B93D1;
    border:1px solid #4B93D1;
}

.btn-primary:hover {
    color:#fff;
    background:#6FA8DA;
    border:1px solid #6FA8DA;
}

.btn-default,.btn-default:focus,.btn-default.focus,.btn-default:hover,.btn-default:active,.btn-default.active,.btn-default:active:hover,.btn-default.active:hover,.open > .dropdown-toggle.btn-default:hover,.btn-default:active:focus,.btn-default.active:focus,.open > .dropdown-toggle.btn-default:focus,.btn-default:active.focus,.btn-default.active.focus,.open > .dropdown-toggle.btn-default.focus {
    font-weight:400;
    border-radius:4px;
    color:#8C8C8C;
    cursor:pointer;
    background:#EDEDED;
    border:1px solid #EDEDED;
}

.btn-default:hover {
    color:#8C8C8C;
    background:#E0E0E0;
    border:1px solid #E0E0E0;
}

.btn-warning,.btn-warning:focus,.btn-warning.focus,.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning:active:hover,.btn-warning.active:hover,.open > .dropdown-toggle.btn-warning:hover,.btn-warning:active:focus,.btn-warning.active:focus,.open > .dropdown-toggle.btn-warning:focus,.btn-warning:active.focus,.btn-warning.active.focus,.open > .dropdown-toggle.btn-warning.focus {
    font-weight:400;
    border-radius:4px;
    color:#fff;
    cursor:pointer;
    background:#FFB10A;
    border:1px solid #FFB10A;
}

.btn-warning:hover {
    color:#fff;
    background:#FFC03B;
    border:1px solid #FFC03B;
    opacity:.9;
    filter:alpha(opacity=90);
}

.btn-danger,.btn-danger:focus,.btn-danger.focus,.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger:active:hover,.btn-danger.active:hover,.open > .dropdown-toggle.btn-danger:hover,.btn-danger:active:focus,.btn-danger.active:focus,.open > .dropdown-toggle.btn-danger:focus,.btn-danger:active.focus,.btn-danger.active.focus,.open > .dropdown-toggle.btn-danger.focus {
    font-weight:400;
    border-radius:4px;
    color:#fff;
    cursor:pointer;
    background:#D63030;
    border:1px solid #D63030;
}

.btn-danger:hover {
    color:#fff;
    background:#C52727;
    border:1px solid #C52727;
}

.alert-danger {
    color:#fff;
    background:#D63030;
    border:1px solid #D63030;
    font-size:13px;
    padding:10px 15px;
}

.alert-warning {
    color:#AD6C00;
    background:#FFF2AE;
    border:1px solid #FFF2AE;
    font-size:13px;
    padding:10px 15px;
}

.alert-warning:hover {
    background:#FFEE95;
}

.alert-success {
    color:#fff;
    background:#20935A;
    border:1px solid #20935A;
    font-size:13px;
    padding:10px 15px;
}

.form-control {
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#000;
    background-color:#fff;
    background-image:none;
    border:1px solid #EDEDED;
    border-radius:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-transition:none;
    -o-transition:none;
    transition:none;
}

.form-control:focus {
    border-color:#EDEDED;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.form-control::-moz-placeholder {
    color:#8C8C8C;
    opacity:1;
    filter:alpha(opacity=100);
}

.form-control:-ms-input-placeholder {
    color:#8C8C8C;
}

.form-control::-webkit-input-placeholder {
    color:#8C8C8C;
}

.pretraga .form-control {
    border-radius:4px;
    background-color:#EDEDED;
    border:2px solid #EDEDED;
    color:#000;
    width:270px;
    -webkit-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}

.pretraga .form-control::-moz-placeholder {
    color:#8C8C8C;
}

.pretraga .form-control:-ms-input-placeholder {
    color:#8C8C8C;
}

.pretraga .form-control::-webkit-input-placeholder {
    color:#8C8C8C;
}

.pretraga .form-control:focus {
    background-color:#fff;
    border:2px solid #D63030;
    width:348px;
}

.fa.form-control-feedback {
    line-height:34px;
}

.has-feedback-left .form-control {
    padding-left:40px;
}

.has-feedback-left .form-control-feedback {
    left:0;
    padding-left:5px;
    color:#8C8C8C;
    font-size:14px;
}

.pretraga:hover .form-control-feedback {
    left:0;
    padding-left:5px;
    color:#000;
}

.teme {
    padding:15px 10px;
    border-bottom: 1px solid #F1F1F1;
}

.teme:hover {
    background: #fafafa;
}

.teme .avatar img {
    border-radius:50%;
}

.teme .status .fa-bullhorn {
    position:absolute;
    top:-1px;
    left:37px;
    color:#fff;
    background:#48BF83;
    border-radius:50%;
    padding:3px 4px;
    font-size:14px;
    -webkit-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    -moz-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
}

.teme .status .fa-thumb-tack {
    position:absolute;
    top:-1px;
    left:37px;
    color:#fff;
    background:#D63030;
    border-radius:50%;
    padding:3px 6px;
    font-size:14px;
    -webkit-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    -moz-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
}

.teme .status .fa-lock {
    position:absolute;
    top:-1px;
    left:37px;
    color:#fff;
    background:#888;
    border-radius:50%;
    padding:3px 6px;
    font-size:14px;
    -webkit-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    -moz-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
}

.teme .novo {
    border-radius:4px;
    padding:2px 6px;
    font-size:11px;
    font-weight:600;
    color:#000;
    background:#EDEDED;
    margin-right:10px;
    display:inline-block;
}

.teme .poruka {
    margin-left:55px;
}

.teme .poruka .naziv a {
    color:#000;
    font-size:15px;
    font-weight:400;
    margin-right:5px;
}

.teme .poruka .naziv a:hover {
    text-decoration: underline;
}

.teme .poruka .ime i {
    color:#AEAEAE;
    font-size:12px;
}

.teme .poruka .ime a {
    font-weight:600;
    color:#AEAEAE;
    font-size:13px;
    margin-right:5px;
}

.teme:hover .poruka .ime a,.teme:hover .poruka .ime i {
    color:#8C8C8C;
}

.teme .poruka .vrijeme a {
    color:#AEAEAE;
    font-size:13px;
}

.teme .poruka .excerpt {
    margin-top: 5px;
    color:#AEAEAE;
    font-size:13px;
}

.teme .kategorija {
    color:#fff;
    border-radius:4px;
    padding:2px 6px;
    font-size:11px;
    margin-right:10px;
    font-weight:600;
}

.teme .kategorija:hover {
    opacity:.9;
    filter:alpha(opacity=90);
}

.teme .odgovora {
    color:#000;
    font-size:14px;
    font-weight:600;
}

.teme .odgovora i {
    font-size:14px;
}

.teme .omiljeno {
    display:none;
}

.teme:hover .omiljeno {
    display:inline;
    margin-left:10px;
}

.teme .omiljeno .fa-ellipsis-v {
    margin-top:-4px;
    color:#8C8C8C;
    font-size:14px;
    padding:8px 14px;
}

.teme .omiljeno i:hover {
    background:#E0E0E0;
    border-radius:50%;
    padding:8px 14px;
}

.teme .omiljeno a {
    color:#000;
}

.naziv .bbp-topic-pagination a {
    border-radius:4px;
    padding:1px 6px;
    font-size:13px;
    font-weight:400;
    color:#8C8C8C;
    border:1px solid #EDEDED;
    background:#fff;
}

.naziv .bbp-topic-pagination a:hover {
    color:#fff;
    background:#E3472F;
    border:1px solid #E3472F;
}

.prvi_odgovor:first-child {
    border:1px solid #EDEDED;
    padding:10px;
    margin-bottom:20px;
    border-radius:4px;
}

.prvi_odgovor:first-child .odgovori {
    padding:0;
    border-bottom:none;
}

.odgovori {
    padding-bottom:20px;
    border-bottom:1px solid #EDEDED;
    margin-bottom:20px;
}

.odgovori .avatar img {
    border-radius:50%;
}

.odgovori .odgovor {
    margin-left:65px;
    font-size:15px;
    color:#555;
    word-wrap:break-word;
    height:auto;
    overflow:hide;
}

.odgovori .odgovor .ime {
    font-weight:600;
}

.odgovori .odgovor .vrijeme {
    font-weight:400;
    color:#AEAEAE;
    font-size:13px;
    margin-bottom: 5px;
}

.odgovori .status .fa-wrench {
    position:absolute;
    top:-1px;
    left:47px;
    color:#fff;
    background:#D63030;
    border-radius:50%;
    padding:3px 4px;
    font-size:14px;
    -webkit-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    -moz-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
}

.odgovori .odgovor strong {
    color:#000;
}

.odgovori .odgovor pre {
    color:#8C8C8C;
    background-color:#EDEDED;
    border:2px solid #EDEDED;
    padding:10px;
    -webkit-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}
.odgovori .odgovor pre:hover {
    color:#000;
    background-color:#fff;
    border:2px solid #D63030;
    padding:10px;
}

.odgovori .odgovor img {
    max-width:100%;
    max-height:100%;
}

.odgovori .odgovor iframe {
    max-width:100%;
    max-height:100%;
}

.odgovori .odgovor blockquote {
    border-left:5px solid #8C8C8C;
}

.odgovori .odgovor .img-thumbnail {
    padding:5px;
    background-color:#fff;
    border:1px solid #EDEDED;
    border-radius:4px;
}

.bbp-topic-revision-log,.bbp-reply-revision-log {
    border-top:1px solid #EDEDED;
    list-style:none;
    margin:0;
    padding:0;
    font-size:14px;
    color:#AEAEAE;
    padding-top:10px;
    clear:both;
}

.bbp-topic-revision-log img,.bbp-reply-revision-log img {
    border-radius:50%;
}

.oznake a {
    display:inline-block;
    margin-bottom:5px;
    font-size:13px;
    color:#000;
    padding:6px 12px;
    background:#F7F7F7;
    margin-right:5px;
    border-radius:4px;
}

.naslov {
    margin-top:-40px;
    padding-top:40px;
    padding-bottom:40px;
    background:#689578;
    color:#fff;
    margin-bottom:40px;
}

.naslov .status .fa-bullhorn {
    color:#fff;
    background:#48BF83;
    border-radius:50%;
    padding:3px 4px;
    font-size:14px;
    -webkit-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    -moz-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
}

.naslov .status .fa-thumb-tack {
    color:#fff;
    background:#D63030;
    border-radius:50%;
    padding:3px 6px;
    font-size:14px;
    -webkit-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    -moz-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
}

.naslov .status .fa-lock {
    color:#fff;
    background:#888;
    border-radius:50%;
    padding:3px 6px;
    font-size:14px;
    -webkit-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    -moz-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
    box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3);
}

.naslov h1 {
    margin:0;
    font-size:24px;
    margin-top:5px;
}

.naslov p {
    margin-top:10px;
    margin-bottom:0;
    padding:0;
}

.naslov a {
    color:#fff;
}

.naslov a:hover {
    text-decoration:underline;
}

.naslov .fa {
    margin-right:5px;
}

.naslov .role {
    padding:1px 6px;
    background:#72a484;
    border-color:#72a484;
}

.naslov .role:hover {
    background:#70A181;
    border-color:#70A181;
}

.naslov .kategorija {
    font-size:13px;
    background:#fff;
    padding:3px 8px;
    border-radius:4px;
}

.naslov .pod_kategorije {
    margin-top:5px;
}

.naslov .pod_kategorije ul li a {
    color:#fff;
}

.naslov .pod_kategorije .badge {
    background:#fff;
    border:1px solid #EDEDED;
    color:#000;
    margin-left:5px;
    font-size:11px;
    margin-top:-1px;
}

.naslov .avatar img {
    margin-right:25px;
    border-radius:50%;
    padding:5px;
    background:#fff;
    -webkit-box-shadow:0 0 6px 0 rgba(68,68,68,1);
    -moz-box-shadow:0 0 6px 0 rgba(68,68,68,1);
    box-shadow:0 0 6px 0 rgba(68,68,68,1);
}

.naslovi h2 {
    color:#000;
    font-size:16px;
    margin:0;
    padding:0;
}

.naslovi h3 {
    color:#000;
    font-size:14px;
    margin:0;
    padding:0;
}

.lista_kategorija {
    margin-top:30px;
}

.lista_kategorija i {
    font-size:16px;
    margin-right:5px;
}

.lista_kategorija ul {
    margin-bottom:20px;
}

.lista_kategorija li {
    padding:5px 0;
}

.lista_kategorija li a {
    color:#8C8C8C;
    -webkit-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}

.lista_kategorija li a:hover {
    margin-left:10px;
}

.lista_kategorija li.active a {
    font-weight:600;
    color:#000;
}

.lista_kategorija .kocka {
    font-size:9px;
    margin-right:5px;
    display:inline-block;
    height:16px;
    width:16px;
    margin-bottom:-3px;
    border-radius:4px;
}

.lista_kategorija .badge {
    background:#fff;
    border:1px solid #EDEDED;
    color:#8C8C8C;
    font-size:11px;
}

.izaberi {
    margin-bottom:20px;
}

.izaberi .kocka {
    font-size:9px;
    margin-right:5px;
    display:inline-block;
    height:16px;
    width:16px;
    margin-bottom:-3px;
    border-radius:4px;
}

.kategorije {
    color:#fff;
    padding:20px;
    border-radius:4px;
    margin-bottom:10px;
}

.kategorije:hover {
    opacity:.9;
    filter:alpha(opacity=90)
}

.kategorije .naziv a {
    color:#fff;
    font-size:18px;
    font-weight:600;
}

.kategorije .naziv .badge {
    background:#fff;
    border:1px solid #EDEDED;
    color:#000;
    margin-left:5px;
    font-size:11px;
    margin-top:-1px;
}

.kategorije .opis {
    color:#fff;
    opacity:.7;
    filter:alpha(opacity=70);
    margin-top:5px;
}

.bbp-forums-list {
    list-style:none;
    margin:0;
    padding:0;
    margin-top:10px;
}

.bbp-forums-list a {
    color:#fff;
    font-weight:600;
    font-size:13px;
}

#new-post {
    display:none;
}

.odgovori_forma {
    padding:15px;
    border:2px dashed #EDEDED;
    background:#fff;
    border-radius:4px;
    margin-bottom:20px;
}

.odgovori_forma .zatvori {
    font-size:24px;
    font-weight:700;
    color:#000;
    padding:0 7px;
    margin-top:-15px;
    margin-right:-10px;
}

.odgovori_forma .zatvori:hover,.odgovori_forma .zatvori:focus {
    opacity:.7;
    filter:alpha(opacity=70);
    cursor:pointer;
}

.odgovori_forma select,.bbp-form select {
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#000;
    background-color:#fff;
    border:1px solid #EDEDED;
}

textarea#bbp_reply_content,textarea#bbp_topic_content,textarea#bbp_forum_content {
    width:100%;
    height:200px;
    box-sizing:border-box;
}

a.subscription-toggle {
    color:#8C8C8C;
}

a.favorite-toggle {
    color:#8C8C8C;
}

.copyright {
    margin-top:20px;
    margin-bottom:40px;
}

.alignnone {
    margin:5px 20px 20px 0;
}

.aligncenter,div.aligncenter {
    display:block;
    margin:5px auto;
}

.alignright {
    float:right;
    margin:5px 0 20px 20px;
}

.alignleft {
    float:left;
    margin:5px 20px 20px 0;
}

a img.alignright {
    float:right;
    margin:5px 0 20px 20px;
}

a img.alignnone {
    margin:5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin:5px 20px 20px 0;
}

a img.aligncenter {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.wp-caption {
    background:#fff;
    border:1px solid #f0f0f0;
    max-width:96%;
    padding:5px 3px 10px;
    text-align:center;
}

.wp-caption.alignnone {
    margin:5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin:5px 20px 20px 0;
}

.wp-caption.alignright {
    margin:5px 0 20px 20px;
}

.wp-caption img {
    border:0 none;
    height:auto;
    margin:0;
    max-width:98.5%;
    padding:0;
    width:auto;
}

.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}

.screen-reader-text {
    clip:rect(1px,1px,1px,1px);
    position:absolute!important;
    white-space:nowrap;
    height:1px;
    width:1px;
    overflow:hidden;
}

.screen-reader-text:focus {
    background-color:#f1f1f1;
    border-radius:3px;
    box-shadow:0 0 2px 2px rgba(0,0,0,0.6);
    clip:auto!important;
    color:#21759b;
    display:block;
    font-size:14px;
    font-size:.875rem;
    font-weight:700;
    height:auto;
    left:5px;
    line-height:normal;
    padding:15px 23px 14px;
    text-decoration:none;
    top:5px;
    width:auto;
    z-index:100000;
}